.form {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
input[type='number'] {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: none;
}
input[type='number']:hover {
  border: 1px solid #000;
}
input[type='number']:focus {
  border: 1px solid #4e75ff;
}
.form fieldset {
  border-radius: 4px;
  border: solid 1px #808080;
}
.form fieldset:hover {
  border: solid 1px #000;
}
fieldset:has(input[type='radio']:checked) {
  border: solid 1px #000;
}
.form button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}
.form button:hover {
  background-color: #6c8cff;
}
